@tailwind base;
@tailwind components;
@tailwind utilities;




.restro_trans 
{
          transition: all .4s linear;;
}
.blink 
{
          
          animation: blinkit 2s linear infinite;
}
@keyframes blinkit 
{
          0%
          {
                    opacity: 1;
          }
          25%
          {
                    opacity: .75;
          }
          50%
          {
                    opacity: .5;
          }
          75%
          {
                    opacity: .75;
          }
          100%
          {
                    opacity: 1;
          }
}
.bg_image 
{
          background-image: url("./assets/logomain.png");
          background-repeat: repeat;
          background-size: 120px 120px;
          
}

.login_bg
{
          background-image: url('https://png.pngtree.com/background/20230528/original/pngtree-an-arrangement-of-various-indian-food-picture-image_2778221.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
      
}